h1 {
    text-align:center;
    color: rgba(30, 145, 78, 0.61);
    font-weight: bold;
    background-color: bisque;
    border: 2px solid #333;
    animation: shine 1s infinite;
}

@keyframes shine {
    0% {
      border-color: #333;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    50% {
      border-color: #12611f;
      box-shadow: 0 0 20px rgba(255, 204, 0, 0.5);
    }
    100% {
      border-color: #3f2a8a;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  h2,h3,h4 {
    border: 2px solid #12611f;
    padding: 10px; 
    margin-bottom: 10px;
    background-color: rgb(252, 252, 235);
  }
  
body {
    text-align: center;
    background-color: rgb(215, 229, 245);
}

p {
    font-weight: 500;
    font-weight: bold;
    
}

img {
    width: 300px; 
    height: auto; 
    border: 2px solid #333;
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #333;
    animation: jump 1s infinite;

  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  img {
    animation: slide 5s linear infinite;
  }
